<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Like my image, or else.
  </h1>
  <div class="content">
    <app-my-image></app-my-image>
    <app-my-button></app-my-button>
    <div class="message-wrapper">
        <div *ngFor="let message of messages" [ngClass]="(message.from.name == 'Bob') ? 'left-message' : 'right-message'">
            <span class="from"> {{message.from.name}} </span>
            <span class="content">{{message.content}}</span>
          </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
