.todo-item {
    border-radius:4px;
    margin:10px 0px;
    padding:5px 10px;
}
.todo-item p {
    margin:0px;
    padding:0px;
}
button {
    border:none;
    border-radius:4px;
    color:#333;
    background-color: #eee;
}
button.active {
    background-color: chartreuse;
}
button.delete-btn {
    background-color:rgba(0,0,0,0);
    color:red;
}
button.delete-btn:hover {
    background-color:red;
    color:#FFF;
}