.todo-item {
    border-radius:4px;
    margin:10px 0px;
    padding:5px 10px;
}
.todo-item p {
    margin:0px;
    padding:0px;
}
button {
    border:none;
    border-radius:4px;
    color:#333;
    background-color: #eee;
}
button.active {
    background-color: chartreuse;
}